<div class="container">
  <div class="col-md-12">
    <section class="country-codes">
      <div class="section-head">
        <h1>Alan's lovely little assignment</h1>
      </div>
      <div class="section-body">
        
      </div>
      <div class="section-foot"></div>
    </section>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>